@import "scss/variables.scss";

@import "scss/code.scss";
@import "scss/navigation.scss";
@import "scss/pages.scss";
@import "scss/preflight.scss";
@import "scss/typer.scss";
@import "scss/content.scss";

body {
	// display: grid;

	// Cool background image
	background-image: $bgColors;
	background-size: cover;

	// Default Font settings
	font-family: "Hack", monospace;
	font-size: 1rem;
	line-height: 1.5;
	color: #fff;

	// Default spacing
	margin: 0;
	padding: 0;

	::-webkit-scrollbar {
		width: 2px;
	}

	::-webkit-scrollbar:empty {
		width: 0px;
	}

	::-webkit-scrollbar-track {
		background: darken($pink, 12%);
	}

	::-webkit-scrollbar-thumb {
		background: #4cc9f0;
	}

	::-webkit-scrollbar-thumb:hover {
		background: darken($blue, 8%);
	}

	// === DOT MATRIX

	&::after {
		content: "";
		background-color: rgba(0, 0, 0, 0.3);
		height: 100%;
		width: 100%;
		position: fixed;
		top: 0;
		z-index: -1;
		pointer-events: none;
	}

	// This is the dot matrix overlay.
	// TODO this might be replaced by a canvas at some point for more interactivity.
	&::before {
		content: "";
		background-image: url(http://s14.directupload.net/images/111129/44ga9qid.png);
		background-size: 0.2rem;
		opacity: 0.5;
		height: 100%;
		width: 100%;
		position: fixed;
		top: 0;
		z-index: 1;
		pointer-events: none;
	}
}
